@font-face{
  font-family: atkinson_hyperlegible;
  src: local("Atkinson Hyperlegible Next"),
       url('fonts/AtkinsonHyperlegibleNext.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #092222;
  color: white;
  font-size: 18px;
  line-height: 1.5;
  font-family: atkinson_hyperlegible;
  text-align: center;
}

h1 {
  line-height: 2em;
  font-size: 36pt
}

.whirl-color {
  color: #007573
}

.digi-color {
  color: #2ADF7B
}

.mac-color {
  color: #E74C3C
}

#verylongdiv {
  height: 200lvh
}

ul {
  list-style-position: inside;
}

a:link {
  color: #50FFFF;
}

a:visited {
  color: #9070FF;
}