@font-face{
  font-family: atkinson_hyperlegible;
  src: local("Atkinson Hyperlegible Next"),
       url('fonts/AtkinsonHyperlegibleNext.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #092222;
  color: white;
  font-family: atkinson_hyperlegible;
  text-align: center;
}

h1 {
  line-height: 2em;
  font-size: 36pt
}

.infernitydev-color {
  color: #55ffff
}

.whirl-color {
  color: #007573
}

.digi-color {
  color: #2ADF7B
}

#verylongdiv {
  height: 200lvh
}